<!DOCTYPE html>
  2 <HTML lang="en">
  3     <HEAD>
  4         <TITLE>HBNB</TITLE>
  5     </HEAD>
  6     <BODY>
  7     {% if states is none %}
  8         <H1>Not found!</H1>
  9         {% else %}
 10         <H1>State: {{ states.name }}</H1>
 11         <H3>Cities:</H3>
 12         <UL>
 13         {% for city in states.cities | sort(attribute='name') %}
 14             <LI>{{ city.id }}: <B>{{ city.name }}</B></LI>
 15         {% endfor %}
 16         </UL>
 17     {% if %}
 18     </BODY>
 19 </HTML>
